<div class="row">
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="pet_name"
        placeholder="Pet Name"
        name="pet_name"
        value="{{this.pet_name}}"
      />
      <label for="pet_name">Pet Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="owner_id"
        placeholder="Pet Age"
        name="owner_id"
        value="{{this.owner_id}}"
      />
      <label for="owner_id">Pet Owner</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="pet_age"
        placeholder="Pet Age"
        name="pet_age"
        value="{{this.pet_age}}"
      />
      <label for="pet_age">Pet Age</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="pet_gender"
        placeholder="Pet Gender"
        name="pet_gender"
        value="{{this.pet_gender}}"
      />
      <label for="pet_gender">Pet Gender</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="pet_price"
        placeholder="Pet Price"
        name="pet_price"
        value="{{this.pet_price}}"
      />
      <label for="pet_price">Pet Price</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="pet_color"
        placeholder="Pet Color"
        name="pet_color"
        value="{{this.pet_color}}"
      />
      <label for="pet_color">Pet Color</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="pet_breed"
        placeholder="Pet Breed"
        name="pet_breed"
        value="{{this.pet_breed}}"
      />
      <label for="pet_breed">Pet Breed</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="status_id"
        placeholder="Status ID"
        name="status_id"
        value="{{this.status_id}}"
      />
      <label for="status_id">Status ID</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        id="date_added"
        name="date_added"
        value="{{this.date_added}}"
      />
      <label for="date_added">Date Added</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 d-grid">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
