<div class="row">
  <div class="col-sm-3">
    <form class="">
      <input
        type="text"
        class="form-control form-control-sm"
        placeholder="🔎︎ Search for Employee"
      />
    </form>
  </div>
  <div class="col-sm-2 px-0">
    <form class="form-group mb-0 w-4 col-sm-auto pl-0">
      <select class="btn btn-sm btn-dark">
        <option value="" selected disabled hidden>Department</option>
        <option value="1">REG</option>
        <option value="2">RH</option>
        <option value="3">SH</option>
        <option value="4">RHSH</option>
      </select>
    </form>

  </div>
  <div class="col-sm-7 text-end">
    <a
      href="/employee/add-employee"
      class="btn btn-primary btn-sm"
      type="button"
    ><i class="bi bi-person-fill-add"></i> Add Employee</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <th scope="col">ID</th>
              <th scope="col">Employee</th>
              <th scope="col">Department</th>
              <th scope="col">Position</th>
              <th scope="col">Branch</th>
              <th scope="col">Contact #</th>
              <th scope="col">Email</th>
              <th scope="col">Date Hired</th>
              <th scope="col">Actions</th>
            </thead>
            <tbody>
              {{#each rows}}
                <tr>
                  <td scope="row">{{this.id}}</td>
                  <td>{{this.emp_fullname}}</td>
                  <td>{{this.department}}</td>
                  <td>{{this.position}}</td>
                  <td>{{this.address}}</td>
                  <td>{{this.contact}}</td>
                  <td>{{this.email}}</td>
                  <td>{{this.date_hired}}</td>
                  <td>
                    <a type="button" class="btn btn-sm btn-primary"><i
                        class="bi bi-eye"
                      ></i>
                      View Profile</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>