<div class="row">
  <div class="col-sm-3">
    <form class="" id="searchForm" method="POST" action="/employee" novalidate autocomplete="off">
      <input type="text" id="searchInput" name="search" class="form-control form-control-sm" placeholder="🔎︎ Search for Employee" onchange="submitForm()" value="{{ searchValue }}">
    </form> 
  </div>
  <div class="col-sm-2 px-0">
    <div class="dropdown">
      <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Department </button> 
      <div class="dropdown-menu">
        <a class="dropdown-item">test1</a>
        <a class="dropdown-item">test2</a>
        <a class="dropdown-item">test3</a>
        <a class="dropdown-item">test4</a>
      </div>
    </div>
  </div>
  <div class="col-sm-7 text-end">
    <a href="/employee/add-employee" class="btn btn-primary btn-sm" type="button"><i class="bi bi-person-fill-add"></i> Add Employee</a> 
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">


        <div class="table-responsive">
          <table class="table">
            <thead>
              <th scope="col">ID</th>
              <th scope="col">Employee</th>
              <th scope="col">Department</th>
              <th scope="col">Position</th>
              <th scope="col">Branch</th>
              <th scope="col">Contact #</th>
              <th scope="col">Email</th>
              <th scope="col">Date Hired</th>
              <th scope="col">Actions</th>
            </thead>
            <tbody>
              {{#each rows }}
              <tr>
                <td scope="row">{{this.id}}</td>
                <td>{{this.emp_fname}}</td>
                <td>{{this.department}}</td>
                <td>{{this.position}}</td>
                <td>{{this.address}}</td>
                <td>{{this.contact}}</td>
                <td>{{this.email}}</td>
                <td>{{this.date_hired}}</td>
                <td>
                  <a type="button" class="btn btn-sm btn-primary"><i class="bi bi-eye"></i> View Profile</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // comment the following if you don't want to immediately display results upon letter change
  // document.getElementById('searchInput').addEventListener('input', function() {
  //  document.getElementById('searchForm').submit();
  //});
  function submitForm() {
    document.getElementById('searchForm').submit();
  }
   // Add this script to retain the focus on the input field after form submission
  window.onload = function() {
    const searchValue = "{{ searchValue }}";
    if (searchValue !== "") {
      const searchInput = document.getElementById('searchInput');
      searchInput.focus();
      // Set the selection range to the end of the input value
      searchInput.setSelectionRange(searchValue.length, searchValue.length);
    }
  };
</script>
