<div class="row">
  <div class="col-md-3 grid-margin stretch-card">
    <div class="card card-primary">
      <div class="card-body">
        <p class="mb-4">
          Current Date
        </p>
        <p class="fs-30 fw-bold my-2">
          {{{selectedDate}}}
        </p>
        <p class="fw-bold">
          REG 
        </p>

        <div class="row">
          <form class="form-group mb-0 w-4 col-sm-auto" id="dateForm" method="POST" action="/timekeeping" novalidate>
            <input class="btn btn-sm btn-outline-primary" id="calendar_test" name="timekeeping_date"
              type="datetime-local" placeholder="Select Date" style="width: 90px;" onchange="submitForm()">
          </form>
          <form class="form-group mb-0 w-4 col-sm-auto pl-0">
            <select class="btn btn-sm btn-outline-primary">
              <option value="" selected disabled hidden>Set Day Type</option>
              <option value="1">REG</option>
              <option value="2">RH</option>
              <option value="3">SH</option>
              <option value="4">RHSH</option>
            </select>
          </form>
        </div>


        {{!-- <a class="btn btn-sm btn-outline-primary" type="date"> Select Day</a> --}}
        {{!-- <button class="btn btn-sm btn-outline-primary"><i class="bi bi-calendar-event"></i> Select Day</button>
        --}}
        {{!-- <button class="btn btn-sm btn-outline-primary">Edit Day Type</button> --}}
      </div>
    </div>
  </div>
  <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex flex-column justify-content-between">
        <p class="mb-4">
          Total Hours
        </p>
        <p class="fs-30 mb-2 fw-bold">
          2 hrs
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex flex-column justify-content-between">
        <p class="mb-4">
          Total Overtime Hours
        </p>
        <p class="fs-30 mb-2 fw-bold">
          2 hrs
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body d-flex flex-column justify-content-between">
        <p class="mb-4">
          Total Night Differential Hours
        </p>
        <p class="fs-30 mb-2 fw-bold">
          2 hrs
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <form class="">
      <input type="text" class="form-control form-control-sm" placeholder="🔎︎ Search for Employee">
    </form>
  </div>
  <div class="col-sm-2 px-0">
    <form class="form-group mb-0 w-4 col-sm-auto pl-0">
      <select class="btn btn-sm btn-dark">
        <option value="" selected disabled hidden>Department</option>
        <option value="1">REG</option>
        <option value="2">RH</option>
        <option value="3">SH</option>
        <option value="4">RHSH</option>
      </select>
    </form>
  </div>
  <div class="col-sm-7 text-end">
    <a href="/timekeeping/add-timesheet" class="btn btn-primary btn-sm" type="button"><i
        class="bi bi-file-earmark-spreadsheet-fill"></i> Import CSV</a>
    <a class="btn btn-primary btn-sm" type="button"><i class="bi bi-ui-checks"></i> Approve All</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th scope="col">ID</th>
              <th scope="col">Employee</th>
              <th scope="col">Branch</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Overtime Hrs</th>
              <th scope="col">ND Hrs</th>
              <th scope="col">Total Hrs</th>
              <th scope="col">Actions</th>
            </thead>
            <tbody>
              {{#each rows }}
              <tr>
                <td scope="row">{{this.First_Name}}</td>
                <td>{{this.Last_Name}}</td>
                <td>{{this.Emp_ID}}</td>
                <td>{{this.Time}}</td>
                <td>{{this.Date}}</td>
                <td>{{this.overtime}}</td>
                <td>{{this.nd_hrs}}</td>
                <td>{{this.tot_hrs}}</td>
                <td>
                  <a type="button" class="btn btn-sm btn-primary"><i class="bi bi-eye"></i> View Profile</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function () {

    const calendar = flatpickr("#calendar_test", {
      enableTime: false,
      onChange: function (selectedDates, dateStr, instance) {
        submitForm();
      }
    });

    function submitForm() {
      document.getElementById('dateForm').submit();
    }
  });

</script>